

#define SECRET_SSID "WIFI NAME"        // Enter your WiFi network name
#define SECRET_PASS "WIFI PASSWORD"    // Enter your WiFi password
#define SECRET_DEVICE_KEY "SECRET KEY" // Enter your Arduino IoT Cloud device secret key
